<h1>Welcome to Sign in Page</h1> 
 <h2 *ngIf="success">{{message}}</h2> 
<div *ngIf="!success">
 <form  [formGroup]="messageForm" (ngSubmit)="onSubmit()"> 
 
    <h2 *ngIf="success">{{message}}</h2> 
 
      <strong>    Username:  </strong> <br>
	<input type="text" style="font-size:16px" formControlName="name" maxlength='10'> 
  
	<div *ngIf="submitted && messageForm.controls.name.errors&&messageForm.controls.name.errors" class="error">         
	<div *ngIf="messageForm.controls.name.errors.required">Your name is required</div>       
	</div>       <br>
	<strong >   Password:   </strong> <br>    
	<input type="text" style="font-size:16px" formControlName="password"  maxlength='10'> <br>      
	<div *ngIf="submitted && messageForm.controls.password.errors&&messageForm.controls.name.errors" class="error">        
	<div *ngIf="messageForm.controls.password.errors.required">A password is required
	</div>       </div>     <br><hr>
	<input type="submit" value="Submit" class="cta"> </form> 
    <div *ngIf="submitted" class="results">   </div> 

	<form  [formGroup]="messageForm2" (ngSubmit)="onRegister()"> 
	<label><h3><font color="red">New User Sign Up  </font></h3></label>
    <strong>    First Name:  </strong> <br>
	<input type="text" style="font-size:16px"  formControlName="fname" maxlength='10'> <br>
	<div *ngIf="registered  && messageForm2.controls.fname.errors" class="error">         
	<div *ngIf="messageForm2.controls.fname.errors.required">First name is required</div></div>      
	<strong>    Last Name:  	</strong>  <br>
	<input type="text" style="font-size:16px"   formControlName="lname" maxlength='10'> <br>
	<div *ngIf="registered && messageForm2.controls.lname.errors" class="error">         
	<div *ngIf="messageForm2.controls.lname.errors.required">Last name is required</div></div>       
	<strong>    User Name:  	</strong>  <br>
	<input type="text" style="font-size:16px"  formControlName="uname" maxlength='10'> <br>
	<div *ngIf="registered && messageForm2.controls.uname.errors" class="error">         
	<div *ngIf="messageForm2.controls.uname.errors.required">Username is required</div> </div>     
	<strong>    password:  	</strong>  <br>
	<input type="text" style="font-size:16px"  formControlName="upass" maxlength='10'> <br>
	<div *ngIf="registered && messageForm2.controls.upass.errors" class="error">         
	<div *ngIf="messageForm2.controls.upass.errors.required">missing a password </div> </div>     
	<strong>    Email: 		</strong>  <br>       
	<input type="text" style="font-size:16px"  formControlName="email" maxlength='10'> <br><hr>
    <div *ngIf="registered && messageForm2.controls.email.errors" class="error">         
	<div *ngIf="messageForm2.controls.email.errors.required">An valid email is required</div></div>
	<input type="submit" value="Register" class="cta"> </form> 
    <div *ngIf="registered" class="results">   </div> 
	
	</div> 

 



 